.bundle/
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/

nbproject
log
tmp
app/stylesheets/.sass-cache
public/stylesheets/compiled
config/database.yml
vendor
features/step_definitions/web_steps.rb
lib/tasks/*.rake
db/schema.rb
script/rspec
script/cucumber
readline
webrat.log
rerun.txt
.rvmrc
coverage/*
*.data
