<% if @articles.empty? %>
  <p>We currently have no articles published, please check again later.</p>
<% end %>

<% @articles.each do |article|%>
  <%= render :partial => '/blog_engine/shared/article', :locals => {:article => article} %>
  <hr />
<% end %>