<h1><%= @article.title %></h1>
<%=raw @article.content %>

<p>Tags: <%= @article.tags %></p>

<% unless @article.categories.empty? %>
  Categories:
  <% @article.categories.each do |category| %>
  <ul>
    <li><%= category.title %></li>
  </ul>
  <% end %>
<% end %>
